/* Popup styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F6F6; /* Couleur de l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #F5F6F6; /* Couleur de fond */
  width: 90%; /* 90% de la largeur de la page */
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  gap: 5%;
  border-radius: 10px;
}

.popup-content .popup-left, 
.popup-content .popup-right {
  width: 55%; /* Largeur du bloc gauche */
}

.popup-content .popup-right {
  width: 30%; /* Largeur du bloc droit */
}

.popup-content .popup-left,
.popup-content .popup-right {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.popup-image-container {
  background: rgba(15, 14, 67, 0.1);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.popup-image-container img {
  width: 100%;
  height: auto;
}

.popup-right h3, 
.popup-right h4 {
  color: #0F0E43;
}

.popup-right .ratings {
  color: #FF922B; /* Couleur des étoiles */
  font-size: 24px; /* Taille des étoiles */
}

.popup-right .ratings::before {
  content: "★★★★★"; /* Affichage des étoiles pleines */
}

.popup-right .ratings-count {
  color: #0F0E43; /* Couleur du texte des avis */
}

.popup-content hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.popup-content .features {
  color: #0F0E43; /* Couleur du texte des fonctionnalités */
}

.popup-content .bottom-separator {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.popup-content .price-reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0F0E43; /* Couleur du texte du prix par jour */
}

.popup-content .price {
  opacity: 0.3; /* Opacité du prix */
}

.popup-content .reserve-button {
  background-color: #4743FB; /* Couleur de fond du bouton Réserver */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.popup-content .reserve-button:hover {
  background-color: #3733cc; /* Couleur de fond du bouton Réserver au survol */
}

/* Car card styles */
.car-card {
  display: inline-block;
  width: calc(33.33% - 20px); /* 33.33% pour trois cartes par ligne, avec 20px pour espacement */
  margin: 10px; /* Espacement entre les cartes */
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.car-card-details {
  padding: 20px;
  font-weight: 700;
}

.car-card-details img {
  width: 100%;
  height: auto;
}

.car-card-details h3,
.car-card-details h4 {
  color: #0f0e43;
  margin: 0;
}

.car-card-details h4 {
  opacity: 50%;
}

.car-card-details p span:first-child {
  color: #4743FB; /* Couleur pour la valeur journalière */
}

.car-card-details p span:last-child {
  color: #0F0E43; /* Couleur pour "/jour" */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .car-card {
    width: calc(50% - 20px); /* Deux cartes par ligne sur les écrans de taille moyenne */
  }
}

@media (max-width: 768px) {
  .car-card {
    width: calc(50% - 20px); /* Deux cartes par ligne sur tablette */
  }
}

@media (max-width: 576px) {
  .car-card {
    width: calc(100% - 20px); /* Une carte par ligne sur les téléphones */
  }
}

/* Ant Design Calendar Styles */
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #0078FF; /* Couleur pour le jour début et fin */
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner:hover,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner:hover {
  background: #005bb5; /* Couleur plus foncée au survol */
}

.ant-picker-cell-in-view.ant-picker-cell-range-hover .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end .ant-picker-cell-inner {
  background: rgba(0, 120, 255, 0.3); /* Couleur pour les jours intermédiaires */
}

.ant-picker-cell-in-view.ant-picker-cell-disabled .ant-picker-cell-inner {
  background: #FF6058; /* Couleur pour les jours déjà réservés */
  opacity: 1;
}
